{
  "env": {
    "browser": false,
    "node": true,
    "jest": true
  },
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "smells"
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "camelcase": [
      "error"
    ],
    "comma-dangle": [
      "error",
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "indent": [
      "error",
      4
    ],
    "no-console": [
      "error"
    ],
    "id-match": [
      "error",
      "^[a-zA-Z_]+$"
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ],
    "new-cap": [
      "error",
      {
        "properties": false,
        "capIsNewExceptions": [
          "Map",
          "List"
        ]
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "prefer": {
          "arg": "param",
          "argument": "param",
          "return": "returns"
        },
        "preferType": {
          "object": "Object",
          "boolean": "Boolean",
          "string": "String",
          "number": "Number",
          "array": "Array"
        },
        "matchDescription": ".+"
      }
    ],
    "smells/no-switch": 1,
    "smells/no-complex-switch-case": 1,
    "smells/no-setinterval": 1,
    "smells/no-this-assign": 1,
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ]
  }
}
