<!DOCTYPE html> 
<html> 

<head> 
	<title>ticket</title> 
	
	<style type="text/css" media="screen"> 
		body { 
			background-color: gray; 
			text-decoration-color: white; 
			font-size:4em; 
            text-align:center;
		} 
	</style> 
</head> 

<body>
        <h4 > Ticket detail </h4>
        <h4> Not Found </h4>
 </body>

</html>	 
